/* --------> common */

/* <-------- common */

/* --------> header */
header {
  width: 100%;
  background-color: rgb(0, 0, 0, 0.8);
}

header .navbar-brand {
  color: #fff;
  font-family: "Times New Roman", Times, serif;
  font-size: 40px;
  letter-spacing: 10px;
  padding-left: 28px;
}

header .navbar-brand:hover {
  color: #fff;
}

header li {
  color: #fff;
  font-family: Verdana;
  font-size: 13px;
  padding: 10px 18px 10px 10px;
}

header .nav-link {
  color: #fff;
}

header .nav-link:hover {
  color: #999;
}

header .dropdown-item:hover {
  background-color: rgb(114, 43, 43);
  color: #fff;
}

header .navbar-nav > li > .dropdown-menu {
  background-color: #000;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 13px;
}

header .dropdown-item {
  color: #fff;
  height: 45px;
  line-height: 36px;
  font-size: 14px;
}

/*ハンバーガーバー*/

header button:focus {
  outline: 0;
}

header .navbar-toggler {
  position: relative;
  width: 20px;
  height: 20px;
}

header .navbar-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
}

header .navbar-trigger span:nth-of-type(1) {
  top: 0;
}

header .navbar-trigger span:nth-of-type(2) {
  top: 7px;
}

header .navbar-trigger span:nth-of-type(3) {
  bottom: 0;
}

/* <-------- header */

/* --------> main */
.top-image-area {
  position: relative;
  width: 100%;
  height: 650px;
  overflow: hidden;
  background: url(image/backgroundimage.jpg) no-repeat center/cover;
}

.top-image {
  display: flex;
  justify-content: center;
  text-align: center;
}

.image-desc {
  color: #fff;
  font-size: 36px;
  font-family: "Times New Roman", serif;
  font-weight: 500;
  position: relative;
  overflow: hidden;
  visibility: visible;
  text-align: left;
  white-space: nowrap;
  writing-mode: vertical-rl;
}

.top-under-area {
  background: #000;
  color: #fff;
  position: relative;
  margin-bottom: 30px;
  padding: 51px 0 79px;
  text-align: center;
}

.l-inner {
  position: relative;
  padding: 0 20px;
  margin: 0 auto;
}

.inner-title {
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 1.5;
  font-family: "Times New Roman", serif;
  font-weight: 500;
}

.inner-desc {
  font-size: 14px;
  line-height: 2.6;
  margin-bottom: 0;
  font-family: "Segoe UI", Verdana, "游ゴシック", YuGothic,
    "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

/* <-------- main */

/* --------> footer */

/* <-------- footer */
@media screen and (max-width: 1190px) {
  header {
    background-color: #000;
  }
}

@media screen and (max-width: 767px) {
  .top-image-area {
    height: 360px;
    padding-bottom: 0;
    background-size: cover;
  }

  .image-desc {
    font-size: 20px;
  }

  .top-under {
    margin-bottom: 40px;
    padding: 32px 0 33px;
  }

  .l-inner {
    width: 100%;
    padding: 0 20px;
  }

  .inner-title {
    font-size: 20px;
    margin-bottom: 5px;
  }

  .inner-desc {
    line-height: 2;
    font-size: 14px;
    font-family: "Segoe UI", Verdana, "游ゴシック", YuGothic,
      "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  }
}
